apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow

resources:
- github.com/kubeflow/manifests/apps/profiles/upstream/overlays/kubeflow?ref=v1.7.0


configMapGenerator:
- behavior: merge
  files:
  - namespace-labels.yaml
  name: namespace-labels-data

      
patches:
- path: deployment.yaml
