apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/kubeflow/manifests/contrib/kserve/kserve?ref=v1.7.0
- authorizationpolicy.yaml
- cluster-local-gateway.yaml


## Cert Manager
patches:
- patch: |-
    - op: replace
      path: "/apiVersion"
      value: cert-manager.io/v1
  target:
    group: cert-manager.io
    kind: Certificate|Issuer
    name: .*
    version: v1alpha2
- patch: |-
    - op: remove
      path: "/webhooks/1/namespaceSelector"
  target:
    group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    name: inferenceservice.serving.kserve.io
    version: v1
- path: inferenceservice-configmap.yaml
