apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/kubeflow/manifests/common/knative/knative-serving/overlays/gateways?ref=v1.10.2

patches:
  - target:
      group: ""
      version: v1
      kind: Namespace
      name: knative-serving
    path: patches/remove-restricted-pod-security.json
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: config-domain
    patch: |
      - op: remove
        path: /data/example.com
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: config-istio
    patch: |
      - op: remove
        path: /data/gateway.kubeflow.kubeflow-gateway

patchesStrategicMerge:
  - patches/config-domain.yaml
  - patches/config-istio.yaml
