apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/kubeflow/manifests/common/knative/knative-serving/overlays/gateways?ref=v1.10.2

patchesStrategicMerge:
  - patches/config-domain.yaml
  - patches/config-istio.yaml
