apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/kubeflow/manifests/contrib/seldon/seldon-core-operator/base?ref=v1.7.0

## Cert Manager
patches:
- patch: |-
    - op: replace
      path: "/apiVersion"
      value: cert-manager.io/v1
  target:
    group: cert-manager.io
    kind: Certificate|Issuer
    name: .*
    version: v1alpha2
