apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/kubeflow/manifests/common/knative/knative-serving/base?ref=v1.7.0
- github.com/kubeflow/manifests/common/knative/knative-eventing/base?ref=v1.7.0






patches:
- path: istio-webhook-deployment-patch.json
  target:
    kind: Deployment
    name: net-istio-webhook
    version: v1
- path: networking-istio-deployment-patch.json
  target:
    kind: Deployment
    name: net-istio-controller
    version: v1
- path: webhook-deployment-patch.json
  target:
    kind: Deployment
    name: webhook
    version: v1
- path: namespace_patch.json
  target:
    kind: Namespace
    name: knative-eventing
    version: v1
- path: namespace_patch.json
  target:
    kind: Namespace
    name: knative-serving
    version: v1
- patch: |-
    - op: replace
      path: "/apiVersion"
      value: cert-manager.io/v1
  target:
    group: cert-manager.io
    kind: Certificate|Issuer
    name: .*
    version: v1alpha2
- patch: |-
    - op: replace
      path: "/spec/minReplicas"
      value: 3
  target:
    group: autoscaling
    kind: HorizontalPodAutoscaler
    name: activator|eventing-webhook|webhook
    version: v2beta2
- patch: |-
    - op: replace
      path: "/spec/minAvailable"
      value: 2
  target:
    group: policy
    kind: PodDisruptionBudget
    name: activator-pdb|webhook-pdb|eventing-webhook
    version: v1beta1|v1
- path: config-domain.yaml
- path: config-istio.yaml
